.sheen{
  position:relative;
  overflow:hidden;
  margin-top:5px;
  padding:12px 25px;
  font-weight:bold;
  font-size:15px;
  border-radius:5px;
  border:0;
  color:white;
  text-transform:uppercase;
  box-shadow:-2px 2px 2px #ccc;
  background-color: #00acc1;
  cursor: pointer;
}

/*        sheen effect      */
/*This is the base aniamtion*/
.sheen:after{
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
/*This activates the sheen once the button has been hovered*/
.sheen:hover::after, button:focus::after {
  animation: sheen 1s forwards;
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

button:active{
  box-shadow:0px 0px 0px white;
  -webkit-box-shadow: inset -2px 2px 2px #ccc;
  -moz-box-shadow:    inset -2px 2px 2px #ccc;
  box-shadow:         inset -2px 2px 2px #ccc;
  transform:translate(0, 2px);
}
button:focus{
  outline:0;
}