.title__product__cart {
    color: black;
}

.title__product__cart:hover {
    color: rgb(110, 110, 110) !important;
}

.flex__container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: #ffffff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 20px !important;
    font-size: 15px !important;
    color: gray !important;
    ​​​​​​​​.cart__header__text {
        font-size: 15px !important;
        color: gray !important;
    }
    .cart__image {
        width: 8%;
        & img {
            height: 70px;
        }
    }
    .cart__title {
        width: 20%;
        word-break: break-word;
        color: #434343;
        overflow: hidden;
        font-size: 15px;
        margin-top: 15px;
    }
    .cart__product__checked {
        width: 5%;
    }
    .cart__action {
        width: 15%;
        margin: auto 0;
        display: flex;
        justify-content: center;
        .cart__button {
            border: 1px solid rgb(202, 201, 201);
            width: 35px;
            height: 35px;
            display: flex;
            color: rgb(128, 128, 128);
            align-items: center;
            font-size: 20px;
            justify-content: center;
            cursor: pointer;
        }
        .cart__button__subtraction {
            font-size: 25px;
        }
        .cart__quantity {
            border: 1px solid rgb(202, 201, 201);
            width: 38px;
            height: 35px;
            display: flex;
            align-items: center;
            font-size: 15px;
            border-left: none;
            border-right: none;
            color: rgb(128, 128, 128);
            justify-content: center;
        }
    }
    .cart__sum {
        font-size: 15px !important;
        color: gray !important;
        display: flex;
        justify-content: center;
        width: 20%;
        margin: auto 0;
    }
    .cart__price {
        font-size: 15px !important;
        color: gray !important;
        display: flex;
        justify-content: center;
        width: 20%;
        margin: auto 0;
    }
    .cart__delete {
        width: 7%;
        margin: auto 0;
        .cart__detele__button {
            width: 35px;
            height: 35px;
            .fa-trash-alt {
                color: #d15238;
            }
        }
    }
}

.flex__cart__item__container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: #ffffff;
    padding: 40px 20px;
    box-sizing: border-box;
    .cart__item__image {
        width: 8%;
        & img {
            height: 70px;
        }
    }
    .cart__item__title {
        width: 20%;
        word-break: break-word;
        color: #434343;
        overflow: hidden;
        font-size: 15px;
        margin-top: 15px;
    }
    .cart__item__checkbox {
        width: 5%;
    }
    .cart__item__action {
        width: 15%;
        margin: auto 0;
        display: flex;
        justify-content: center;
        .cart__button {
            border: 1px solid rgb(202, 201, 201);
            width: 35px;
            height: 35px;
            display: flex;
            color: rgb(128, 128, 128);
            align-items: center;
            font-size: 20px;
            justify-content: center;
            cursor: pointer;
        }
        .cart__button__subtraction {
            font-size: 25px;
        }
        .cart__quantity {
            border: 1px solid rgb(202, 201, 201);
            width: 38px;
            height: 35px;
            display: flex;
            align-items: center;
            font-size: 15px;
            border-left: none;
            border-right: none;
            color: rgb(128, 128, 128);
            justify-content: center;
        }
    }
    .cart__item__sum {
        width: 20%;
        margin: auto 0;
        color: #ee4d2d;
        display: flex;
        justify-content: center;
        font-size: 18px;
    }
    .cart__item__price {
        display: flex;
        justify-content: center;
        width: 20%;
        margin: auto 0;
        color: #ee4d2d;
        font-size: 17px;
    }
    .cart__item__delete {
        width: 7%;
        margin: auto 0;
        .cart__detele__button {
            width: 35px;
            height: 35px;
            .fa-trash-alt {
                color: #d15238;
            }
        }
    }
}

.description__supply {
    background-color: #ffffff;
    padding: 15px;
    border-top: 1px solid #e8e8e8;
    margin-bottom: 25px;
    font-size: 15px;
    .fa-truck {
        color: #07c1a7;
        margin-right: 10px;
        margin-left: 10px;
    }
    .description__supply__text {
        color: #8e8e8e;
    }
}

.cart__footer__wrap {
    background-color: #ffffff;
    height: 100px;
    position: sticky;
    border-top: 1px solid #e4e2e2;
    bottom: 0;
    .cart__footer__detail {
        padding: 20px;
        float: right;
        display: flex;
        .cart__footer__detail__total {
            font-size: 18px;
            font-weight: bold;
            color: #f94e2f;
            margin-right: 40px;
            margin-top: 20px;
            .cart__footer__detail__total__title {
                color: grey;
            }
        }
        .cart__footer__detail__button {
            background-color: #00acc1;
            border: none !important;
            color: white;
            margin-right: 65px;
            margin-top: 10px;
            height: 36px;
            max-height: 36px;
            padding: 3px;
            width: 120px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .cart__box__shadow {
        .cart__item__checkbox {
            width: 15%;
        }
        .cart__item__image {
            width: 40%;
        }
        .cart__item__title {
            width: 45%;
        }
        .cart__item__price {
            width: 25%;
            padding: 8px 0px;
            margin-top: 15px;
            justify-content: flex-start;
        }
        .cart__item__action {
            width: 25%;
            margin-top: 15px;
            padding: 5px 0px;
            justify-content: flex-start;
        }
        .cart__item__sum {
            width: 25%;
            margin-top: 15px;
            padding: 8px 0px;
            justify-content: flex-start;
        }
        .cart__item__delete {
            width: 25%;
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
        }
        .cart__product__checked {
            width: 100%;
            .cart__cart__text {
                display: block;
            }
        }
    }
    .flex__container {
        .cart__product__checked {
            width: 100%;
            display: flex;
        }
        .cart__main__header {
            display: block;
            margin-left: 10px;
        }
        .cart__image {
            display: none;
        }
        .cart__title {
            display: none;
        }
        .cart__price {
            display: none;
        }
        .cart__action {
            display: none;
        }
        .cart__sum {
            display: none;
        }
        .cart__delete {
            display: none;
        }
    }
    .cart__footer__wrap .cart__footer__detail {
        .cart__footer__detail__total {
            font-size: 15px;
            font-weight: bold;
            color: #f94e2f;
            margin-right: 40px;
            margin-top: 10px;
            .cart__footer__detail__total__title {
                color: grey;
            }
        }
        .cart__footer__detail__button {
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 436px) {
    .cart__box__shadow {
        .cart__item__price {
            width: 100%;
            padding: 8px 0px;
            margin-top: 5px;
            justify-content: flex-start;
        }
        .cart__item__action {
            width: 100%;
            padding: 5px 0px;
            margin-top: 5px;
            justify-content: flex-start;
        }
        .cart__item__sum {
            width: 50%;
            padding: 8px 0px;
            margin-top: 5px;
            justify-content: flex-start;
        }
        .cart__item__delete {
            width: 50%;
            margin-top: 5px;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .cart__main__header {
        display: none;
    }
}