    body {
        margin: 0px;
        background-color: #f5f5f5
    }
    
    body::-webkit-scrollbar {
        width: 6px;
    }
    
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: #00acc1;
        outline: 0.1px solid #00acc1;
        width: 10px;
        height: 10px;
        scrollbar-width: 12px;
    }
    
    .paddingTopFixed {
        padding-top: 120px;
    }
    
    .paddingTopFixedCarousel {
        padding-top: 80px;
    }
    
    .notfound {
        color: red;
        text-align: center;
    }
    
    .appbarProduct {
        background-color: #fff!important;
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin-right: 15px;
    }
    
    .allProduct {
        color: #e79413
    }
    
    .allProduct:hover {
        color: #a56601
    }
    
    @media only screen and (max-width: 400px) {
        .responsive-image {
            padding: 0px !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .banner__home {
            display: none !important;
        }
    }
    
    .swiper-pagination-bullet-active {
        background-color: #EE4D2D !important;
    }
    
    .swiper-button-prev:hover {
        color: white !important;
    }
    
    .swiper-button-prev {
        color: transparent !important;
    }
    
    .swiper-button-next {
        color: transparent !important;
    }
    
    .swiper-button-next:hover {
        display: block;
        color: white!important;
    }
    
    .title__product__cart {
        color: black;
    }
    
    .title__product__cart:hover {
        color: rgb(110, 110, 110)!important;
    }
    
    .scroll-to-top {
        position: fixed;
        bottom: 2.5rem;
        left: 0.8rem;
        animation: fadeIn 700ms ease-in-out 1s both;
        .icon-scroll {
            border: 1px solid #00ACC1;
            border-radius: 10px;
            animation: fadeIn 700ms ease-in-out 1s both;
        }
        cursor: pointer;
        .fa-arrow-up {
            padding: 8px;
            color: #00ACC1;
            font-size: 22px;
        }
        &:hover {
            border: #E79413;
            border-radius: 10px;
            .fa-arrow-up {
                color: #E79413;
                ;
            }
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }