    body {
        margin: 0px;
        background-color: #f5f5f5
    }
    
    .paddingTopFixed {
        padding-top: 100px;
    }
    
    .paddingTopFixedCarousel {
        padding-top: 80px;
    }
    
    .notfound {
        color: red;
        text-align: center;
    }
    
    .appbarProduct {
        background-color: #fff!important;
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin-right: 15px;
    }