.image-categories-wrap {
    background-color: #eef8ff !important;
    border: 1px solid rgba(0, 0, 0, .05);
    width: 98%!important;
    .image-categories {
        width: 60%;
        padding-left: 20%;
    }
    .title-categories {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(68, 68, 68);
        font-size: 14px;
        text-decoration: none;
    }
}

.appbarCategories {
    background-color: #eef8ff!important;
    border: 1px solid rgba(0, 0, 0, 0.05);
    .name-categories-wrap {
        color: rgb(0, 172, 193);
    }
}

a {
    text-decoration: none !important;
}

.button__bar {
    padding-top: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 70px;
    text-align: center;
}

.button__bar li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
}

.button__bar li button {
    border: none;
    background: #e79413;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 7.5px;
}

.button__bar li.slick-active button {
    background-color: rgb(0, 172, 193)!important;
}

.button__bar li button:hover,
.button__bar li button:focus {
    background: rgb(0, 172, 193);
    outline: 0;
}