.location__user__wrapper {
    background-color: #FFFFFF;
    box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, .05);
    .location__user__line {
        height: .1875rem;
        width: 100%;
        background-position-x: -1.875rem;
        background-size: 7.25rem .1875rem;
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    }
    .location__user__place {
        padding: 15px;
        .fa-map-marker-alt {
            color: #00ACC1;
            font-size: 18px;
        }
    }
    .info__user {
        padding: 0px 15px 15px 15px;
        .info__user__location {
            margin-left: 15px;
        }
        .info__user__action {
            margin-left: 20px;
            color: #00ACC1;
            cursor: pointer;
            &:hover {
                color: #3f51b5;
            }
        }
    }
}

.list__checkout__wrapper {
    background-color: #FFFFFF;
    margin-top: 18px;
    padding: 20px 20px 50px 20px;
    margin-bottom: 10px;
    box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, .05);
    #list {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
}

#list th {
    padding: 10px;
    text-align: left;
}

.list__checkout__item__title {
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.dashed___line {
    border-bottom: .0625rem dashed rgba(0, 0, 0, .09);
    padding-bottom: 10px;
    padding-top: 10px;
}

.list__checkout__payment__totalPrice {
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, .05);
}

.list__checkout__payment__button {
    background-color: #FFFFFF;
    padding: 10px 20px 45px 20px;
    margin-bottom: 10px;
    box-shadow: 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, .05);
}

.num__to__vietnam__text {
    font-size: 16px;
    color: #e79413;
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    float: right;
    &::first-letter {
        text-transform: uppercase;
    }
}