/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */

.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(0, 172, 193);
    color: rgb(0, 172, 193);
    box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193);
    animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
    0% {
        box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193);
    }
    16.667% {
        box-shadow: 9984px -10px 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193);
    }
    33.333% {
        box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193)
    }
    50% {
        box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px -10px 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193);
    }
    66.667% {
        box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193)
    }
    83.333% {
        box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px -10px 0 0 rgb(0, 172, 193);
    }
    100% {
        box-shadow: 9984px 0 0 0 rgb(0, 172, 193), 9999px 0 0 0 rgb(0, 172, 193), 10014px 0 0 0 rgb(0, 172, 193);
    }
}