.logoWebImage {
    height: 90px;
}

.MuiBadge-colorPrimary {
    color: #fff !important;
    background-color: #e79413 !important;
    z-index: 9999;
}

.MuiTooltip-arrow {
    color: white !important
}

.MuiIconButton-root {
    padding-top: 13px !important;
    padding-right: 0px !important;
    padding-left: 20px !important;
    padding-bottom: 0px !important;
    margin-right: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    .social-header {
        padding-top: 13px !important;
    }
}

.fa-facebook-square {
    color: white;
}

.fa-facebook-square:hover {
    color: #4267B2;
    background-color: white;
}

.fa-youtube {
    color: white;
}

.fa-youtube:hover {
    color: #FF0000;
    background-color: white;
}

.btn-search {
    background-color: black !important;
    opacity: 0.8;
}

.btn-sign-in-gg {
    background-color: white !important;
    width: 100%;
}

.item__card__header:hover {
    background-color: rgb(247, 247, 247);
}

.item__card__header {
    cursor: pointer;
}