.logoWebImage {
    height: 90px;
}

.MuiBadge-colorPrimary {
    color: #fff !important;
    background-color: #e79413 !important;
    z-index: 9999;
}

.MuiTooltip-arrow {
    color: white !important
}