.logoWebImage {
    height: 80px;
}

.MuiBadge-colorPrimary {
    color: #fff !important;
    background-color: #e79413 !important;
    z-index: 9999;
}

.MuiTooltip-arrow {
    color: white !important
}

.MuiIconButton-root {
    padding-top: 13px !important;
    padding-right: 0px !important;
    padding-left: 20px !important;
    padding-bottom: 0px !important;
    margin-right: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    .social-header {
        padding-top: 18px !important;
        font-size: 13px;
    }
}

.fa-facebook-square {
    color: white;
}

.fa-facebook-square:hover {
    color: #4267B2;
    background-color: white;
}

.fa-youtube {
    color: white;
}

.fa-youtube:hover {
    color: #FF0000;
    background-color: white;
}

.btn-search {
    width: 35px;
    max-height: 35px;
    margin-top: 3px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

.btn-search:hover {
    background-color: #e0e0e0;
}

.btn-header-login {
    height: 35px;
    background: none;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 13px;
}

.btn-header-login:hover {
    background: #fff;
    background-color: #e0e0e0;
}

.btn-header-signUp {
    height: 35px;
    font-weight: 600;
    background: none;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 13px
}

.btn-header-signUp:hover {
    background-color: #e0e0e0;
}

.btn-sign-in-gg {
    background-color: white !important;
    width: 100%;
}

.item__card__header:hover {
    background-color: rgb(247, 247, 247);
}

.item__card__header {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .MuiToolbar-gutters {
        padding: 0px !important;
    }
    .cart__header__icon {
        margin-top: 25px;
        margin-right: 2px;
    }
    .logoWebImage {
        height: 70px;
        padding-right: 10px;
    }
}

.top-header-hover:hover {
    color: black;
}