.productPaddingTop {
    padding-top: 100px;
}

.title__product__wrapper {
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 40px;/* Fallback for non-webkit */
}

@media only screen and (max-width: 768px) {
    .title__product__wrapper {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        // width: 100px; // some width
    }

    .search__keyword__below__searchField {
        display: none;
    }

    .service__first {
        margin-top: 30px;
    }
}

.most__popular__wrapper:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .05)
}

// .input__search {
//      ::placeholder: {
//         color: black;
//     }
// }