.productPaddingTop {
    padding-top: 100px;
}

@media only screen and (max-width: 768px) {
    .title__product__wrapper {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        // width: 100px; // some width
    }
    .search__keyword__below__searchField {
        display: none;
    }
    .service__first {
        margin-top: 30px;
    }
}

.most__popular__wrapper:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .05)
}